# Appliance disk images
*.raw
*.raw.gz
*.img
*.qcow2
*.tar.gz
*.tgz

# Transfer / bundle directories (local operator data)
transfers/
inbound/

# Secrets and cluster credentials
*secret*
*pull-secret*
kubeconfig
*.kubeconfig
.env
*.pem
*.key
