{
  "auths": {
    "registry.example.internal:8443": {
      "auth": "REPLACE_BASE64_USER_COLON_PASSWORD",
      "email": "operator@example.internal"
    },
    "registry.redhat.io": {
      "auth": "REPLACE_FROM_HYBRID_CLOUD_CONSOLE_PULL_SECRET",
      "email": "operator@example.internal"
    },
    "quay.io": {
      "auth": "REPLACE_FROM_HYBRID_CLOUD_CONSOLE_PULL_SECRET",
      "email": "operator@example.internal"
    },
    "cloud.openshift.com": {
      "auth": "REPLACE_FROM_HYBRID_CLOUD_CONSOLE_PULL_SECRET",
      "email": "operator@example.internal"
    }
  }
}
